/* To utilize a google font, place the font url's here at the top of this css file as seen here*/
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');

/* GLOBAL */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
	color: #414141;
  font-family: "Lora", Georgia, serif;
  font-size: 17px;
  line-height: 1.7058823529;  /* line-height/font-size */
}
@media (min-width: 621px) {
  body {
    font-size: 19px;
    line-height: 1.6842105263;  /* line-height/font-size */
  }
}

b, strong {
  font-weight:700;
}

button {
  cursor:pointer;
}

input, textarea {
  font-family: "Lora", Georgia, serif;
}

/* VISUALLY HIDDEN */
.hl__visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

/* TYPOGRAPHY & LINKS */
a, a:visited {
  border-bottom: 3px solid transparent;
  color: #0579b8;
  font-family: "Trueno", sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);
}

a:hover, a:focus {
  border-bottom-color: rgba(5, 121, 184, 0.3);
	color: #0579b8;
}
#columns .block-boxes-os_boxes_html a,
#columns .field-name-body a {
    text-decoration: none;
}

h1, h2, h2.block-title, h3, h4 {
	font-family: "Trueno", sans-serif;
}

/* BUTTONS */



/* HEADER */
#header {
  background-image: linear-gradient(45deg, #F8C21C 0%, #FBE08E 100%);
}

/* FOOTER */
#footer, #footer a, #footer a:visited {
  background: #1e1e1e;
  color: white;
  font-family: "Trueno",sans-serif;
  font-weight: 200;
}
#footer a:hover, #footer a:focus {
  border-color: rgba(255,255,255,0.3);
}


/* THINGS TO HIDE/OVERRIDE */
#branding_footer,
#branding_header,
#powerby-login {
	display: none;
}


/* IF THE SEPARATE IE CSS FILE IS NOT USED, PREFIX CLASSES CAN BE USED THROUGHOUT THIS FILE.
 THIS EXAMPLE IS AN IE8 OVERRIDE FOR MARGIN-BOTTOM OF AN H2 - .lt-ie8 WOULD TARGET IE7 */
.lt-ie9 h2 {
	margin-bottom:10px;
}
